[submodule "ren-script"]
	path = ren-script
	url = ../ren-script.git
[submodule "ren-general"]
	path = ren-general
	url = ../ren-general.git
[submodule "ren-application"]
	path = ren-application
	url = ../ren-application.git
